* {
  margin: 0px;
  font-family: "inter", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
  margin: auto;
}

#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 200px 0px 150px 0px;
  background-color: #303030;
  color: #ffffff;
}

#titleHeader {
  font-size: 60px;
  margin-left: 80px;
  font-weight: 600;
}

#spanHeader {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 80px;
}

#infoMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 80px 0px;
  background-color: #f9f9f9;
  color: #000000;
}

.spanInfo {
  font-size: 40px;
  font-weight: bold;
}

.pInfo {
  font-size: 20px;
}

#sectionAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 90px 0px;
}

#titleAbout {
  font-size: 40px;
  font-weight: medium;
}

#textAbout {
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
}

#footerForm {
  display: flex;
  flex-direction: column;
  padding: 90px 0px;
  align-items: center;
  background-color: #303030;
  color: #ffffff;
}

#titleForm {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 60px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 500px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 60px;
  padding: 0px 30px;
  font-size: 24px;
}

input:focus {
  outline: none;
}

button {
  width: 280px;
  height: 75px;
  background-color: #c07212;
  border-radius: 10px;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
